/* .side-line:before {
    display: block;
    width: 500px;
    height: 0;
    border-width: 1px 0 0;
    position: absolute;
    right: 100%;
    left: auto;
    top: 50%;
    border-style: solid;
    content: "";
    opacity: .1667;
}

.side-line:after {
    display: block;
    width: 500px;
    height: 0;
    border-width: 1px 0 0;
    position: absolute;
    left: 100%;
    right: auto;
    top: 50%;
    border-style: solid;
    content: "";
    opacity: .1;
} */